### Build ###
target/
build/
*.jar
*.war
*.ear
*.class

### IDE ###
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.ctxt

### OS ###
.DS_Store
Thumbs.db

### Log ###
*.log

### Other ###
hs_err_pid*
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
